/* TEMA CLARO */
.Claro {
  --bg-principal: #e6e6e6b7;
  --bg-secundario: #ebecec;

  --texto-principal: #111827;
  --texto-secundario: #6B7280;

  --cor-primaria: #009832; 
  --cor-primaria-hover: #10b981;

  --cor-secundaria: #1fb6ce; 
  --cor-secundaria-hover: #06b6d4;

  --borda: #2D2D44;
  --input-bg: #f3f3f3;
}


/*  TEMA ESCURO */
.Escuro {
  --bg-principal: #0F0F1A;
  --bg-secundario: #1A1A2E;

  --texto-principal: #E5E7EB;
  --texto-secundario: #9CA3AF;

  --cor-primaria: #10B981;
  --cor-primaria-hover: #059669;

  --cor-secundaria: #07caec; 
  --cor-secundaria-hover: #01a1bd;

  --borda: #E5E7EB;
  --input-bg: #1A1A2E;
}