.corpo {
    width: 100%;
    position: relative;
    height: 91.5vh;
    display: flex;
}

.Direita {
    /* justify-self: end; */
    background-color: black;
    width: 75%;
    height: 50vh;
}

.Esquerda {
    background-color: blueviolet;
    width: 25%;
    margin-top: 5px;
    border: solid var(--Branco);
    /* border-radius: 5%; */
    height: 100%;
    border-top-right-radius:10%;
}

.BlocoCima {
    width: 90%;
    margin: 20px auto;
    justify-items: center;   
    background-color: red;
    border: solid var(--Branco);
    top: 20px;
    border-radius: 15px;
    padding: 15px;
    position: relative;
    text-align: center; 
}

.BlocoCima h1{
    top: 20px;
    color: var(--texto-principal);
    text-decoration: underline;
}

.BotaoEditar{
    padding-bottom: 6px;
    padding-top: 6px;
    padding-left: 15px;
    padding-right: 15px;
    display: block;
    margin-left: auto;
    margin-right: 15px;
    margin-top: 2px;

    position: absolute;  
    right: 1px;         
    top: 5px;  

    background-color: var(--cor-primaria);
    color: var(--texto-principal);  
}

.BlocoInfos {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    width: 100%;
    margin-top: 10px;
}

.BlocodeNotas{
    display: flex;
    justify-content: center; /* horizontal */
    /* align-items: center;     vertical (se quiser) */
    margin-top: 50px;
}

.BarraLateral {
    /* justify-content: start; */
    color: var(--Branco);
    /* background-color: green; */
    width: 100%;
    /* align-items: center; */
    text-align: center;
}

.HeaderLateral{
    border: solid var(--Branco);
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    /* border-top-right-radius: 20%; */
    padding: 10px;
}

.ItensAnotacoes p{
    border: solid var(--Branco);
    padding: 10px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

.BotaoNovaNota{
    margin: 8px;
    padding-top: 8px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--cor-primaria);
}