@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* ===== CONTAINER ===== */
.Container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  margin-bottom: 0px;
  padding: 0 20px;
  padding-top: 9vh;
}

/* ===== TOPO ===== */
.Conteudo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  
  padding: 30px 20px;
  color: var(--Cinza-Medio);
}

.Conteudo h3 {
  font-size: clamp(28px, 5vw, 50px);
  max-width: 500px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin-right: 70px;
  padding: 0px;
}

.Conteudo span {
  color: greenyellow;
}

.Conteudo_img img { 
  width: 100%;
  max-width: 500px;
}

.btns{
  margin-right: auto;
}

.btnCadastro{

    /* botão em sí */
    background-color: #54CA7B;
    border: 1px solid rgba(26, 26, 26, 0.788);
    width: 150px;
    height: 60px;
    border-radius: 16px;
    box-shadow:  2px 2px 1px rgba(0, 0, 0, 0.555);
    margin-left: 20px;

    /* texto do botão */
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: bolder;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.685);
}

.btnCadastro:hover{
    transition: 0.3s;
    background-color: #2e8f4e;
    color: rgba(255, 255, 255, 0.829);
    transform: scale(1.10);
}

/* ===== TEXTOS ===== */
.Textos {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.Textos hr{
  width: 85%;
  margin: auto;
}

.Textos h2 {
  color: var(--Cinza-Medio);
  font-size: clamp(30px, 5vw, 60px);
  text-align: center;
  padding: 40px 20px 20px;
}

.Textos h4 {
  font-size: clamp(20px, 3vw, 33px);
  color: var(--Cinza-Medio);
  padding: 10px 0;
  margin-left: 10%;
}

.Textos p {
  padding: 10px 0 20px;
  font-size: clamp(14px, 2.2vw, 20px);
  color: var(--Branco);
  margin-left: 10%;
  width: 80%;
  text-indent: 20px;
}

/* ===== TEXTO FINAL ===== */
.TextoFinal {
  margin-top: 30px;
  text-align: center;
}

.TextoFinal h2 {
  padding-top: 40px;
  font-size: 50px;
}

.TextoFinal p {
  font-size: clamp(12px, 1vw, 15px);
  margin: auto;
}

/* ===== MAIN ===== */
main {
  width: 100%;
}

/* ===== RESPONSIVIDADE ===== */
@media (max-width: 768px) {
  .Conteudo {
    flex-direction: column;
    text-align: center;
  }

  .Textos {
    text-align: center;
  }

    .Textos h4{
    margin: auto;
  }

    .Conteudo h3 {
    margin-right: 0px;
    padding: 0px;

  }

  .btns{
  margin: auto;
  ;
  }

}

@media (max-width: 480px) {
  .Conteudo {
    padding: 0px 0px;
  }

  .Textos h2 {
    padding-top: 20px;
  }


}